<div class="row">
  <div class="col-md-3">
  	<%= image_tag @place.image_url %>

  	<h2>
      <%= @place.name %>
    </h2>

	<p>
	  <strong>Address:</strong>
	  <%= @place.address %>
	</p>

	<p>
	  <strong>Phone:</strong>
	  <%= @place.phone %>
	</p>

	<p>
	  <strong>Website:</strong>
	  <%= link_to @place.website, @place.website %>
	</p>

	<%= link_to "Write Review", new_place_review_path(@place), class: "btn btn-primary" %>
  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <% @reviews.each do |review| %>
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <p><%= review.comment %></p>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-link" %> |
<%= link_to 'Back', places_path, class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/gamerate/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
